.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    ul {
        list-style: none;
    }

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: @size_space 0;
    }

    &-right {
        display: flex;
        align-items: center;

        button {
            height: 48px;
            border: 2px solid #fff;
            border-radius: 2px;
            width: 140px;

            background: transparent;
            color: #fff;

            font-size: 18px;
            font-weight: 500;

            &.ant-btn-primary {
                background: #fff;
                color: #0872d7;
            }
        }
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .btn-group {
        margin-left: calc(var(--main-padding) * 3);

        .btn {
            font-weight: 500;
            padding-left: calc(var(--main-padding) * 2.3);
            padding-right: calc(var(--main-padding) * 2.3);
        }
    }

    .main-menu {
        list-style: none;
        padding: 0;
        margin: 0 45px 0 0;
        display: flex;
        align-items: center;

        > li {
            margin-right: calc(@size_space * 3);
            position: relative;

            &:last-child {
                margin-right: 0;
            }
            > a {
                font-size: 18px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                padding: 15px 0;
                font-weight: 500;
                text-decoration: none;
            }
        }

        li {
            a:hover {
                color: @color_primary;
            }
        }
    }
}

@media (max-width: 991px) {
    .header .container {
        width: 100%;
    }
}

.menu-mobile {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 360px;
    transition: transform 0.3s ease-out;

    .close-menu {
        background: #eee;
        padding: 15px;
        position: relative;
        display: flex;
        align-items: center;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li.menu-item {
            border-bottom: 1px solid #ddd;

            a {
                display: block;
                padding: 10px;
            }
        }
    }

    .group-btn {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: @size_space;
    }
}

@media (max-width: 767px) {
    .gray {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
